# Byte-compiled / optimized / DLL files
*.html
__pycache__/
# Distribution / packaging
.Python
# virtualenv
env/
# PyCharm
.idea/
# Log files
*.log
# Plots
stock_price_plots/*.png
saved_models
learning_curve_plots